.movieList {
  margin: 20px 0px;
  // margin-top: 0;
  font-size: 3vmax;
  padding: 1vmax 0;
  font-weight: bold;
    font-size: 3vmax;
    padding: 1vmax 0;
    font-weight: bold;
    background: rebeccapurple;
    // box-shadow: 0px 0px 10px 4px rebeccapurple;
    color: white;
    border-radius: 5px;
  h2 {
    color: grey;
    margin-bottom: 10px;
    font-weight: 400;
  }
}
.movieContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 15px;
}
@media screen and (min-width:400px){
  .movieContainer {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    grid-gap: 1.25rem;
  }
}