.header{
    background-color: rgba($color: #000000, $alpha: 0.9);
    height: 73px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    color: #ffffffde;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}
.userImage,.userImage img{
    height: 38px;
    width: 38px;
}